# Puerto local de la API REST
PORT=5050

# Marcadores para mi usuario, contraseña y clúster de MongoDB Atlas
MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@CLUSTER.mongodb.net/books-scraping?retryWrites=true&w=majority

# Entorno de ejecución
NODE_ENV=development
